nav {
  .container {
      max-width: 940px;
      transition: .5s;
  }
}
.navbar .navbar-brand {
    font-weight: 700;
    position: static;
    left: auto;
    letter-spacing: 5px;
    float: left;
}
