{% load static %}{% load compress %}{% spaceless %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Grill - Homepage 1#</title>
      <!---Font Icon-->
      {% compress css %}
      <link href="http://54.149.61.209/static/css/font-awesome.min.css" rel="stylesheet">
      <!-- CSS -->
      <link href="http://54.149.61.209/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/animate.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/styles.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/select2.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/style2.min.css" rel="stylesheet">
       {% endcompress %}
      <!-- Favicon -->
      <link rel="shortcut icon" href="https://dynamothemes.com/grill/favicon.ico">
      <link rel="icon" href="https://dynamothemes.com/grill/favicon.ico">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
   {% block content %}
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container justify-content-center">
            <a class="navbar-brand" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>  GRILL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown active">
                     <a class="nav-link " href="/report">
                     Report
                     </a>
                     
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link " href="#" >
                     Recipes
                     </a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Pages
                     </a>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Typography</a>
                        <a class="dropdown-item" href="#">Contact</a>
                     </div>
                  </li>
                  <!-- <li class="nav-item btn-submit-recipe">
                     <a class="nav-link" href="#"><i class="fa fa-upload" aria-hidden="true"></i> Submit Recipe</a>
                  </li> -->
               </ul>
            </div>
         </div>
      </nav>
      <!-- banner -->
      <div class="banner">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h3>Bring your team together</h3>
                  <p class="subtext">Too often we get caught up in our work and forget to recognize each other, have a little fun, and celebrate. HeyTaco! is the answer.</p>
                  <a href="https://discordapp.com/oauth2/authorize?client_id=435410051788963840&scope=bot&permissions=2146958591" class="btn-add pull-right "><img src="http://54.149.61.209/static/img/icon.png" alt="logo" class="icon event-homepage-top-modal-btn"> Add to Discord</a>
                  <a href="#" class="link-use">Don't use Discord?</a>
                  <p class="team"><img src="http://54.149.61.209/static/img/team.png" alt=""></p>
                  <p class="total-teams">More than <strong>4000 teams</strong> from small businesses and Fortune 500 companies use HeyTaco!</p>
               </div>
            </div>
         </div>
      </div>
      <!-- how -->
      <div class="how">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h2>Invigorate your team with acts of kindness </h2>
                  <p class="subtitle">HeyTaco! sparks conversations and builds stronger relationships with its fun and unique kindness currency...tacos!</p>
                  <div class="messages animation-finished">
                     <div class="box animate a1" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="message-container">
                           <img src="http://54.149.61.209/static/img/avatar.png" class="avatar" alt="Emma">
                           <div class="message">
                              <div class="name">emma <span class="timestamp">9:31 AM</span></div>
                              Thanks <span class="faux-link">@colin</span> for having close attention to detail and going the extra mile!
                              <img src="http://54.149.61.209/static/img/deco.png" class="deco" alt="deco">
                           </div>
                        </div>
                     </div>
                     <div class="box" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="message-container">
                           <img src="http://54.149.61.209/static/img/avatar.png" class="avatar" alt="Von">
                           <div class="message">
                              <div class="name">von <span class="timestamp">9:32 AM</span></div>
                              <span class="faux-link">@emma</span><img src="http://54.149.61.209/static/img/deco.png" class="deco" alt="taco emoji">
                              <img src="http://54.149.61.209/static/img/deco.png" class="deco" alt="taco emoji"> for making the awesomest mission design view ever!
                           </div>
                        </div>
                     </div>
                     <div class="box animate a3" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="message-container">
                           <img src="http://54.149.61.209/static/img/avatar.png" class="avatar" alt="avatar">
                           <div class="message">
                              <div class="name">colin <span class="timestamp">9:34 AM</span></div>
                              <span class="faux-link">@von</span><img src="http://54.149.61.209/static/img/deco.png" class="deco"> for taking this project and running with it, even if it feels like you’re running in place.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                 <div class="content">
                     <h3>How it works</h3>
                     <ol>
                        <li><strong>Step 1.</strong> Add HeyTaco! to Slack <a href="#" target="_blank">(what is Slack?)</a></li>
                        <li><strong>Step 2.</strong> Include taco emojis <img src="http://54.149.61.209/static/img/deco.png" class="deco" width="23px" alt="deco">
                          in your messages to show praise, appreciation, or to just simply put a smile on someone's face.</li>
                        <li><strong>Step 3.</strong> Watch your team come closer together.</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="activity">
        <img src="http://54.149.61.209/static/img/activity-example.png" class="wow pic1 bounceInRight" alt="Activity" style="opacity: 1; display: inline-block; transform: translateX(0px);">
        <img src="http://54.149.61.209/static/img/leaderboard-example.png" class="wow pic1 pic2 pic3" alt="Leaderboard" data-wow-delay=".3s" data-wow-duration="2s">
        <div class="container">
          <div class="container">
          <div class="col-sm-7 col-md-6">
          <h2>Discover the greatness of your team</h2>
          <p class="subtitle">Activity feeds reveal all the great things happening on your team.</p>
          <h3>Leaderboards</h3>
          <div class="button_on">
            <ul>
              <li>on</li>
              <li>off</li>
            </ul>
          </div>
          <p>
          Activate leaderboards for some friendly competition
          and see who's giving and receiving the most tacos.
          </p>
          <a href="https://discordapp.com/oauth2/authorize?client_id=416078004263976960&scope=bot&permissions=2146958591" class="zoom btn-add"><img src="http://54.149.61.209/static/img/icon.png" alt="logo" class="icon"> Add to Discord</a>
          </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h5>About</h5>
                  <p>Nunc at augue gravida est fermentum vulputate. gravida est fermentum vulputate Pellentesque et ipsum in dui malesuada tempus.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Archive</h5>
                  <ul>
                     <li><a href="#">June 2017</a>
                     </li>
                     <li><a href="#">July 2017</a>
                     </li>
                     <li><a href="#">August 2017</a>
                     </li>
                     <li><a href="https://dynamothemes.com/grill/homepage-1.html#">September 2017</a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Recipes</h5>
                  <ul>
                     <li><a href="#">Browse Recipes</a>
                     </li>
                     <li><a href="#">Recipe Detail</a>
                     </li>
                     <li><a href="#">Submit Recipe</a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Newsletter</h5>
                  <form>
                     <div class="form-group">
                        <input type="text" class="form-control">
                     </div>
                     <button type="submit" class="btn">Subscribe</button>
                  </form>
               </div>
            </div>
         </div>
      </footer>
      <!-- Copyright -->
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">Made with <i class="fa fa-heart" aria-hidden="true"></i> — Copyright © 2017 <a href="#">Grill -  Recipes &amp; Food Blog Template</a>. All Rights Reserved.</div>
            </div>
         </div>
      </div>
      {% endblock %}
      <!-- Javascript -->
      {% compress js %}
      <script src="http://54.149.61.209/static/js/jquery.min.js"></script>
      <script src="http://54.149.61.209/static/js/wow.min.js"></script>
      <script>
         new WOW().init();
         $(".activity .button_on li:nth-of-type(2)").click(function(){
              $(this).parents(".activity").find(".pic3").addClass("bounceInRight").removeClass("bounceOutRight").removeClass("pic2");
              $(this).parents(".activity").find(" .button_on ul").css("left", "0");
         });
         $(".activity .button_on li:nth-of-type(1)").click(function(){
              $(this).parents(".activity").find(".pic3").addClass("bounceOutRight").removeClass("bounceInRight");
              $(this).parents(".activity").find(" .button_on ul").css("left", "-58px");
         });
     </script>
      <script src="http://54.149.61.209/static/js/popper.min.js"></script>
      <script src="http://54.149.61.209/static/js/bootstrap.min.js"></script>
      <script src="http://54.149.61.209/static/js/select2.min.js"></script>
      <!-- <script src="js/jquery-ui.js"></script> -->
      <script src="http://54.149.61.209/static/js/scripts.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      {% endcompress %}
   </body>
</html>
{% endspaceless %}
