{% load static %}{% load compress %}{% spaceless %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Grill - Homepage 1#</title>
      <!---Font Icon-->
      {% compress css %}
      <link href="http://54.149.61.209/static/css/font-awesome.min.css" rel="stylesheet">
      <!-- CSS -->
      <link href="http://54.149.61.209/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/animate.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/styles.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/select2.min.css" rel="stylesheet">
      <link href="http://54.149.61.209/static/css/style2.min.css" rel="stylesheet">
       {% endcompress %}
      <!-- Favicon -->
      <link rel="shortcut icon" href="https://dynamothemes.com/grill/favicon.ico">
      <link rel="icon" href="https://dynamothemes.com/grill/favicon.ico">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      {% block content %}
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container justify-content-center">
            <a class="navbar-brand" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>  GRILL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown active">
                     <a class="nav-link " href="/report">
                     Report
                     </a>
                     
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link " href="#" >
                     Recipes
                     </a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Pages
                     </a>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Typography</a>
                        <a class="dropdown-item" href="#">Contact</a>
                     </div>
                  </li>
                  <!-- <li class="nav-item btn-submit-recipe">
                     <a class="nav-link" href="#"><i class="fa fa-upload" aria-hidden="true"></i> Submit Recipe</a>
                  </li> -->
               </ul>
            </div>
         </div>
      </nav>
      <div class="how">
         <div class="container">
            <h3 style="float: left;margin-left: 100px;">Tags report</h3>
            <div class="row" style="padding-top: 50px;float: left;margin-left: 61px;">
              
               
               {% for x in data %}
               <div class="col-md-6">
                  <ol>
                     <h3><strong>{{x.hashtags}}</strong></h3>
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <th class="text-center" >Top people</th> 
                        <th class="text-center" >Time Tagged</th>        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>              
                          <td class="text-center v-middle">
                          {{x.user_sent}}
                          </td>
                          <td class="text-center v-middle">
                          {{x.total}}
                          </td>
                          
                      </tr>

                    </tbody>
                  </table>
                  
                     
                  </ol>
               </div>
               {% endfor %}
               
            </div>
         </div>
      </div>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h5>About</h5>
                  <p>Nunc at augue gravida est fermentum vulputate. gravida est fermentum vulputate Pellentesque et ipsum in dui malesuada tempus.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Archive</h5>
                  <ul>
                     <li><a href="#">June 2017</a>
                     </li>
                     <li><a href="#">July 2017</a>
                     </li>
                     <li><a href="#">August 2017</a>
                     </li>
                     <li><a href="https://dynamothemes.com/grill/homepage-1.html#">September 2017</a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Recipes</h5>
                  <ul>
                     <li><a href="#">Browse Recipes</a>
                     </li>
                     <li><a href="#">Recipe Detail</a>
                     </li>
                     <li><a href="#">Submit Recipe</a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h5>Newsletter</h5>
                  <form>
                     <div class="form-group">
                        <input type="text" class="form-control">
                     </div>
                     <button type="submit" class="btn">Subscribe</button>
                  </form>
               </div>
            </div>
         </div>
      </footer>
      <!-- Copyright -->
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">Made with <i class="fa fa-heart" aria-hidden="true"></i> — Copyright © 2017 <a href="#">Grill -  Recipes &amp; Food Blog Template</a>. All Rights Reserved.</div>
            </div>
         </div>
      </div>
      {% endblock %}
      <!-- Javascript -->
      {% compress js %}
      <script src="http://54.149.61.209/static/js/jquery.min.js"></script>
      <script src="http://54.149.61.209/static/js/wow.min.js"></script>
      <script>
         new WOW().init();
         $(".activity .button_on li:nth-of-type(2)").click(function(){
              $(this).parents(".activity").find(".pic3").addClass("bounceInRight").removeClass("bounceOutRight").removeClass("pic2");
              $(this).parents(".activity").find(" .button_on ul").css("left", "0");
         });
         $(".activity .button_on li:nth-of-type(1)").click(function(){
              $(this).parents(".activity").find(".pic3").addClass("bounceOutRight").removeClass("bounceInRight");
              $(this).parents(".activity").find(" .button_on ul").css("left", "-58px");
         });
     </script>
      <script src="http://54.149.61.209/static/js/popper.min.js"></script>
      <script src="http://54.149.61.209/static/js/bootstrap.min.js"></script>
      <script src="http://54.149.61.209/static/js/select2.min.js"></script>
      <!-- <script src="js/jquery-ui.js"></script> -->
      <script src="http://54.149.61.209/static/js/scripts.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      {% endcompress %}
   </body>
</html>
{% endspaceless %}